.iframe {
	width: 100%;
	margin-top: 0px !important;
	height: 650px;
	margin-top: 200px;
	border: none;
}

.box {
	border-top: 3px solid var(--gx-color-text-black);
	border-bottom: 3px solid var(--gx-color-text-black);
	padding-top: 7px;
	padding-bottom: 7px;
	margin-top: 15px;
	background-color: #2b2b2b;
}

.title {
	color: white !important;
	padding: 0 10px;
}
