.border {
	border-radius: 5px;
	padding: 8px;
	background-color: var(--gx-color-border-autotest-form);
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.subtitle {
	position: relative;
	left: 20px;
	top: 3px;
	max-width: 296px;
}
