.border {
	border: 1px solid var(--gx-color-border-autotest-form);
	border-radius: 5px;
	padding: 5px;
	background-color: var(--gx-color-border-autotest-form);
	:nth-child(1) {
		margin-bottom: 4px;
	}
	:nth-child(2) {
		margin-bottom: -4px;
	}
}

.icon {
	font-size: 35px;
	width: min-content;
	color: var(--gx-color-border-autotest-plus) !important;
	position: absolute;
	right: -45px;
	top: 50px;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	margin-right: 40px;
	position: relative;
}
