.wrapp {
	background: #f6f6f6;
	max-width: 400px;
	margin-top: 7px;
}

.title {
	color: black;
	font-size: 24px;
	text-align: center;
}

.wrapper {
	display: flex;
	justify-content: center;
	gap: 40px;
	margin-top: 20px;
}

.main {
	font-size: 16px;
	background: #cbd6d4;
	padding: 3px 100px;
}

.additional {
	font-size: 16px;
	background: #ffbaba;
	padding: 3px 100px;
}
