.text {
	color: var(--gx-color-text-white) !important;
	border-top: 3px solid var(--gx-color-text-black);
	border-bottom: 3px solid var(--gx-color-text-black);
	padding: 7px 10px;
	display: block;
	margin-bottom: 40px;
	background-color: #2b2b2b;
}
