.title {
	display: block;
	color: var(--gx-color-text-autotest-right) !important;
	background: linear-gradient(0deg, #141414, #141414),
		linear-gradient(0deg, #141414, #141414), #141414;
	padding: 3px;
	padding-left: 66px;
	font-size: 15px;
	margin-bottom: 0;
}

.subtitle {
	display: block;
	color: var(--gx-color-text-autotest-right) !important;
	font-size: 14px;
	background: linear-gradient(0deg, #2b2b2b, #2b2b2b),
		linear-gradient(0deg, #141414, #141414), #141414;
	padding: 1px;
	padding-left: 66px;
	margin-bottom: 0;
}

.url {
	margin-top: 68px;
}
.code {
	margin-top: 33px;
}
.tests {
	margin-top: 18px;
}
.manual {
	margin-top: 90px;
}
.vizualization {
	margin-top: 165px;
}
.attachments {
	margin-top: 7px;
}
.infrastructure {
	margin-top: 14px;
}
.cicd {
	margin-top: 7px;
}
.browser_type {
	margin-top: 7px;
}
.browser_hub {
	margin-top: 7px;
}
.notification {
	margin-top: 12px;
}
.management {
	margin-top: 17px;
}
